<div class="row m-0" style="width:100vw">
  <div class="backimage">  
    <!-- Header -->
     <div class="row m-0 bg-success" style="width:100vw">
        <div class="col-12" ><p></p></div> <!--Space-->
        <div class="col-7 text-right text-white">FORMS</div>
        <div class="col-1 text-right text-white"><p></p></div>
        <div class="col-4 text-right text-white"><button  class="m-0 p-0" mat-raised-button color= "warn" (click)="Logout()">Logout</button></div>  <!--Header-->
        <div class="col-12" ><p></p></div> <!--Space-->
      </div>
    <!--....... -->

    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ...... -->
    
    <!-- Report -->
     <div class="row m-0" *ngFor="let Titles of Title;let i = index">
      
        <div class="col-12 pb-5"> 
          <mat-card class="p-0 m-0">
              <div class="row bg-dark m-0 p-0 mb-3">
                <div class="col-12 text-center text-white py-2"><h6>Action Plan Report</h6></div>
              </div>
              <div class="row">
                <div class="col-4 pb-3 pr-0"><img mat-card-md-image src="assets/Images/Report.png"></div>  
                <div class="col-1"></div>
                <div class="col-6 pl-0">
                  <mat-card-content>
                    <h6>Title:-{{Title[i]}}</h6>
                    <h6>Type Of Activity:- {{Type_Of_Activity[i]}}</h6>
                    </mat-card-content>
                  </div>  
                <div class="col-1"></div>
              </div>
            </mat-card>

            <mat-card-footer>
              <div class="row bg-dark mx-3">
               <div class="col-12"><p></p></div>
                <div class="col-1"></div>
                <div class="col-5"> <button (click)="Go_To_Filled_Forms(i)">Edit</button></div>
                <div class="col-5"><button (click)="Delete_Data(i)">Delete</button></div>
                <div class="col-12"></div>
                <div class="col-1"><p></p></div>
              </div>
              
            </mat-card-footer>

            <!-- Space -->
            <div class="row m-0">
                <div class="col-12"><p></p></div>
              </div>
            <!-- ...... -->
          </div>
     
        </div>
        
        <div class="row m-0" style="width:100vw"> 
          <div class="col-4"><p></p></div>
          <div class="col-4">
            <button  mat-raised-button color="primary" class="text-center"(click)="Go_To_Forms()">Add</button>
          </div>
          <div class="col-4"><p></p></div>
        </div>
    <!-- ...... -->
     <!-- Space -->
     <div class="row m-0">
      <div class="col-12"><p></p></div>
    </div>
  <!-- ...... -->
    </div>

   
</div>
 