<div class="row m-0" style="width:100vw">
  <div class="backimage">  
    <!-- Header -->
      <div class="row m-0 bg-success" style="width:100vw">
        <div class="col-12" ><p></p></div> <!--Space-->
        <div class="col-12 text-center text-white">ADMIN</div>  <!--Header-->
        <div class="col-12" ><p></p></div> <!--Space-->
      </div>
    <!--....... -->

    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ...... -->
      
    <!-- Collegewise Fundtracker -->
      <div class="row m-0">
     
        <div class="col-12">
          <a [routerLink]="['/Collegewise']">
            <mat-card class="p-0 m-0">
              <div class="row bg-dark m-0 p-0 mb-3">
                <div class="col-12 text-center text-white py-2"><h6>Collegewise Fundtracker</h6></div>
              </div>
            
              <div class="row">
                <div class="col-4 pb-3 pr-0"><img mat-card-md-image src="assets/Images/Summary.png"></div>
                <div class="col-1"></div>  
                <div class="col-6 pl-0"><mat-card-content><h6><p></p>Click Here To See The Collegewise Fundtracker Report</h6></mat-card-content></div>  
                <div class="col-1"></div>
              </div>
            </mat-card>
          </a>
            <!-- <button class="btn btn-primary btn-block" (click)="Go_To_Reports()">Report</button> -->
        </div>
      
      </div>
    <!-- ...... -->

    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ..... -->

    <!-- Consolidate Fundtracker -->
      <div class="row m-0">
        <div class="col-12">
          <a [routerLink]="['/ConsolidatedFundtracker']">
            <mat-card class="p-0 m-0">
              <div class="row bg-dark m-0 p-0 mb-3">
                <div class="col-12 text-center text-white py-2"><h6>Consolidate Fundtracker</h6></div>
              </div>
      
              <div class="row">
                <div class="col-4 pb-3 pr-0"><img mat-card-md-image src="assets/Images/ConsolidateFT.png"></div>  
                <div class="col-1"><p></p></div>
                <div class="col-6 pl-0"><mat-card-content><h6><p></p>Click Here To See The Consolidate Fundtracker</h6></mat-card-content></div>  
                <div class="col-1"><p></p></div>
              </div>
            </mat-card>
          </a>
              <!-- <button class="btn btn-primary btn-block" (click)="Go_To_Reports()">Report</button> -->
        </div>
      
          <!-- <div class="col-1"><p></p></div> -->
      
      </div>
    <!-- ...... -->
  </div>
</div>
 