  <div class="row backimage m-0" styles="width:100vw,height:100vh">

      <div class="row m-0" style="width:100vw">
        <div class="col-12"><p></p></div>
        <div class="col-12 text-center"><h4>MIS SPD RUSA CHD</h4></div>
        <div class="col-12"><p></p></div>
      </div>
          
      <!-- Image Division -->
        <div class="row m-0" style="width:100vw">

          <div class="col-2">
            <p></p>
          </div>
          
          <div class="col-8 text-center">
            <img src="assets/Images/Icon.png"/>
          </div>
          
          <div class="col-2">
            <p></p>
          </div>
    
        </div>
      <!-- ............. -->
      
      <!-- Heading -->
        <div class="row m-0">
    
            <div class="col-1"><p></p></div>
          
              <div class="col-10">
                <p>
                  Don't worry. Resetting your password is easy, 
                  just tell us the email address you register
                  with MIS.
                </p>  
              </div>
          
            <div class="col-1"><p></p></div>
          
        </div>
      <!-- ....... -->

      <!--...... Form .......-->
        <div>
          <form [formGroup]="ForgotPassword" (ngSubmit)="Password_Recovery(ForgotPassword.value)">
    
            <!-- ...EmailId... -->
              <div class="row m-0" style="width:100vw">
    
                <div class="col-1"> <!--Spacing-->
                  <p></p>
                </div>
          
                <div class="form-group col-10 text-center">  <!--Email Id-->
                  <mat-form-field style="width:100%">
                    <mat-label class="font-size"><span><mat-icon class="mr-1">email</mat-icon>EmailId</span></mat-label>
                    <input type="text" matInput formControlName="EmailId"/>
                    <mat-error *ngIf ="!ForgotPassword.controls['EmailId'].valid && ForgotPassword.controls['EmailId'].touched">Please Enter the valid email Id</mat-error>
                  </mat-form-field>
                </div>
          
                <div class="col-1"> <!--Spacing-->
                  <p></p>
                </div>
    
              </div>
            <!-- ............. -->
              
            <!-- ....Button.... -->
              <div class="row m-0" style="width:100vw">
                <div class="col-12"><p></p></div> <!---->
    
                <div class="col-3">
                  <p></p>
                </div>
                
                <div class="col-6 px-0 text-center">
                  <button mat-raised-button color="accent" type="Submit" style="width:100%" [disabled]="!ForgotPassword.valid">Submit</button>
                </div>
    
                <div class="col-3">
                  <p></p>
                </div>
    
              </div>  
            <!-- ............ -->
    
          </form>
        </div>
      <!-- ..............  -->
        
</div>
    
    
    