<div class="row m-0" style="width:100vw">
  <div class="backimage">  
    <!-- Header -->
      <div class="row m-0 bg-success" style="width:100vw">
        <div class="col-12" ><p></p></div> <!--Space-->
        <div class="col-12 text-center text-white">Gallery</div>  <!--Header-->
        <div class="col-12" ><p></p></div> <!--Space-->
      </div>
    <!--....... -->

    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ...... -->
    
    <!-- Report -->
    <div>
      
       <div class="row ml-2" >
      
        <div class="col-6 pb-5" *ngFor="let images of images;let i = index"> 
              <div class="row">
                <div class="col-11 pb-3 pr-0">
                  <img class="img-thumbnail ml-2" mat-card-md-image src = {{images}}>
                </div>  
                 <div class="col-1"></div>

                <div class="col-4"><button (click)="Delete(i)">Delete</button></div>
          
              </div>
      
              <!-- Space -->
               <div class="row m-0">
                 <div class="col-12"><p></p></div>
               </div>
             <!-- ...... -->
        </div>
     
    </div> 
    </div>
    <!-- ...... -->   
    
    </div>
  </div>
  <div class="row m-0 bg-dark"style="width:100vw">
      <div class="col-12"><p></p></div>
      <div class="col-1"><p></p></div>
      <div class="col-4" ><button mat-raised-button color="primary" (click)="openCamera()">camera</button></div>
      <div class="col-3"><p></p></div>
      <div class="col-4" ><button mat-raised-button color="primary" (click)="openGallery()">gallery</button></div>
      <div class="col-12"><p></p></div>
    </div>

