<div class="row m-0" style="width:100vw">
  <div class="backimage">  
    <!-- Header -->
      <div class="row m-0 bg-success" style="width:100vw">
        <div class="col-12" ><p></p></div> <!--Space-->
        <div class="col-12 text-center text-white">USER</div>  <!--Header-->
        <div class="col-12" ><p></p></div> <!--Space-->
      </div>
    <!--....... -->

    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ...... -->
    
    <!-- Report -->
      <div class="row m-0">
      
        <div class="col-12">
          <a routerLink="/show/{{id}}">
            <mat-card class="p-0 m-0">
              <div class="row bg-dark m-0 p-0 mb-3">
                <div class="col-12 text-center text-white py-2"><h6>Action Plan Report</h6></div>
              </div>
             <div class="row">
                <div class="col-4 pb-3 pr-0"><img mat-card-md-image src="assets/Images/Report.png"></div>  
                <div class="col-1"></div>
                <div class="col-6 pl-0"><mat-card-content><h6><p></p>Click Here To See The Action Plan Report</h6></mat-card-content></div>  
                <div class="col-1"></div>
              </div>
            </mat-card>
          </a>
          <!-- <button class="btn btn-primary btn-block" (click)="Go_To_Reports()">Report</button> -->
        </div>
       
      </div>
    <!-- ...... -->
    
    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ...... -->
      
    <!-- Fundtracker Summary -->
      <div class="row m-0">
     
        <div class="col-12">
          <a routerLink="/ftsummary/{{ftlink}}">
            <mat-card class="p-0 m-0">
              <div class="row bg-dark m-0 p-0 mb-3">
                <div class="col-12 text-center text-white py-2"><h6>Fundtracker Summary</h6></div>
              </div>
            
              <div class="row">
                <div class="col-4 pb-3 pr-0"><img mat-card-md-image src="assets/Images/Summary.png"></div>
                <div class="col-1"></div>  
                <div class="col-6 pl-0"><mat-card-content><h6><p></p>Click Here To See The Fundtracker Summary Report</h6></mat-card-content></div>  
                <div class="col-1"></div>
              </div>
            </mat-card>
          </a>
            <!-- <button class="btn btn-primary btn-block" (click)="Go_To_Reports()">Report</button> -->
        </div>
      
      </div>
    <!-- ...... -->

    <!-- Space -->
      <div class="row m-0">
        <div class="col-12"><p></p></div>
      </div>
    <!-- ..... -->

    <!-- Form -->
      <div class="row m-0">
        <div class="col-12">
          <a routerLink="/FormList">
            <mat-card class="p-0 m-0">
              <div class="row bg-dark m-0 p-0 mb-3">
                <div class="col-3"><p></p></div>
                <div class="col-6 text-center text-white py-2"><h6>Form</h6></div>
                <div class="col-3"><p></p></div>
              </div>
      
              <div class="row">
                <div class="col-4 pb-3 pr-0"><img mat-card-md-image src="assets/Images/Form.png"></div>  
                <div class="col-1"><p></p></div>
                <div class="col-6 pl-0"><mat-card-content><h6><p></p>Fill Revise Action Plan and Progress Report Form</h6></mat-card-content></div>  
                <div class="col-1"><p></p></div>
              </div>
            </mat-card>
          </a>
              <!-- <button class="btn btn-primary btn-block" (click)="Go_To_Reports()">Report</button> -->
        </div>
      
          <!-- <div class="col-1"><p></p></div> -->
      
      </div>
    <!-- ...... -->
  </div>
</div>
 